@import "tailwindcss";

body {
  color: #242424;
}

:root {
  font-family: "vt220", monospace;
  line-height: 0.85;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "vt220";
  src: url("/fonts/Glass_TTY_VT220.woff") format("woff");
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-items: center;
  min-width: 320px;
  min-height: 100vh;
}
